body {
  font-family: 'Play', sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

.btn {
  font-size: 20pt;
  margin-top: 10px;
  background-color: #745240;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: 100% 100%;
}

.btn:hover {
  color: white;
  font-size: 22pt;
}

.btn:active {
  height: 205px;
  width: 205px;
  background-image: url(/button.jpg);
  border: none;
}

#puzzleStyle {
  font-family: 'Special Elite', sans-serif;
  font-size: 4em;
  border: dotted #745240;
}
